doctype html
html
	head
		title Termimori Demo
		meta(charset='utf-8')
		link(rel='stylesheet', href='termimori.css')
	body
		h1
			a(href='https://github.com/mimorisuzuko/termimori') Termimori
		p It allows user to create element like Terminal.
		div.sample
		script(src='index.js')