.termimori {
	background-color: rgb(30, 30, 30);
	font-size: 0.8rem;
	color: rgb(212, 212, 212);
	font-family: Menlo, Monaco, "Courier New", monospace;
	padding: 0.4rem;
	overflow-y: scroll;

	.termimori-line {
		word-wrap: break-word;
		word-break: break-all;
		outline: none;

		.termimori-line-head {
			white-space: pre;
		}

		.termimori-line-tail {
			outline: none;
			line-height: 0.8rem;
		}
	}
}
